        <div id="main">
            <!-- Main first s-->
            <article id="me" class="panel">
                <header>
                    <h1><%- theme.MainFirst.name  %></h1>
					<p> 
					<span class="typed-quotes"></span>
					<span class="typed-cursor"> </span> 
					</p>
                </header>
                <a href="<%- theme.MainFirst.goto_ulr  %>" class="jumplink pic">
                    <span class="arrow icon fa-chevron-right"><span></span></span>
                    <img src="<%- theme.MainFirst.pic_url  %>" alt="" />
                </a>
            </article>
            <!-- Main first e-->
        </div>


<script src="https://www.typora.io/lib/typed.js-master/js/typed.js"></script>
<script>
		$(function () {
			$(".typed-quotes").typed({
				strings: ["LOCATION：SHANGHAI,CHINA", "SCHOOL：**TONGJI** UNIVERSITY"],
				typeSpeed: 50,
				contentType: 'html',
				loop: true,
				backDelay: 1000
			});
		});

</script>
